body {
    font-family: sans-serif;
}
div {
    display: block;
    justify-content: center;
}
h1 {
    text-align: center;
    font-size: 70px;
}

.i {
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center;     /* Вертикальное выравнивание по центру (опционально) */
}
